.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }

  .form-container {
    padding: 15px;
    border-radius: 8px;
    width: 220px;
    box-shadow: 0px 8px 40px rgba(10, 10, 10, 0.25);
    margin-left: 10px;
    margin-bottom: 25px;
    margin-right: 20px;
    list-style: none;
    background-color: #fff;
  }

  .horizontal-line{
    border-top: 1px solid #8c8b8b;
  }

  .style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.mail-phone-container{
    display: flex;
    justify-content: space-between;
}
.mail-container{
    display: flex;
    padding-bottom: 0px;
}
.match-score{
    margin-left: 5px;
}
.name{
    color: #171f46;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-top: 2px;
}
.para{
    color: #64748b;
    font-family: sans-serif;
    font-size: 11px;
    margin-bottom: 4px;    
}
.heading{
    color: #171f46;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0px;
}
.para-mail{
    color: #64748b;
    font-family: sans-serif;
    font-size: 11px;
    margin-left: 5px;
    
}

.list-of-skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    padding-left: 10px;
}

.each-skill{
    width: 40%;
    padding-right: 0px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}

.list-container{
  display: flex;
  flex-wrap: wrap;
  /* overflow-y: scroll; */
  margin-top: 0px;
  padding-top: 0px;
  
  
}
.spinner-align{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px; 
  margin-left: 30%;
}

/* popup modal */

.mail-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  }
  
  .form-grouph {
    margin-bottom: 10px;
  }
  
  .form-grouph label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-grouph input,
  .form-grouph textarea {
    display: block;
    width: 98%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    font-size: 16px;
  }
  
  .button-grouph {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .button-grouph button {
    margin-left: 10px;
    padding: 5px 10px
  }  
  

  .clr {
    position: absolute;
    height: 12px;
    width: 270px;
    background: linear-gradient(
      to right,
      hsl(104, 35%, 87%),
      hsl(104, 35%, 87%),
      hsl(45, 100%, 90%),
      hsl(45, 100%, 90%),
      hsl(30, 89%, 79%),
      hsl(30, 89%, 79%),
      hsl(30, 89%, 79%)
    );
    border-radius: 20px;
  }
  